.container #respond{
    display:block; 
    width:100%; 
    margin: 3% 20%;}

.container #respond input{
    width:170px; 
    padding:2px; 
    border:1px solid #CCCCCC; 
    margin:5px 5px 0 0;}

.container #respond textarea{
    width:98%; 
    border:1px solid #CCCCCC; 
    padding:2px; 
    overflow:auto;   }

.container #respond li{
    display:block; 
    margin: 5px;
    color:#14978f; }

.container #respond form{
    width:50%; 
    margin: 0 5%; 
    font-size:20px; 
    padding:2px;}

.container #respond input[type=submit]{
      background-color:#14978f; 
      cursor: pointer;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 8px 0;
}

#postwrap #respond {
    float:left;
    display:block;
    width:70%;
}

#postwrap {
    float:left;
    display:block;
}

#postwrap #respond input[type=button]{
      background-color:#14978f; 
      cursor: pointer;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 8px 0;
}