.container #respond{display:block; width:100%; margin: 3% 20%}
.container #respond input{width:170px; padding:2px; border:1px solid #CCCCCC; margin:5px 5px 0 0;}
.container #respond textarea{width:98%; border:1px solid #CCCCCC; padding:2px; overflow:auto;}
.container #respond #submit, .container #respond #reset{margin:8px; width: 98%; 
color:#666666; background-color:#F7F7F7; border:1px solid #CCCCCC; cursor:pointer;}
.container #respond li{display:block; margin: 5px;}
.container #respond form{width:50%; margin: 0 5%; font-size:30px; padding:2px;}
