@import url("forms.css");

body{
    margin:0; padding:20; 
    font-size:15px; font-family:Georgia, "Times New Roman", Times, serif; 
    color:#666666; background-color:#FFFFFF;}

div.wrapper{display:inline-block; width:100%; text-align:left;}
.col0, .col0 a{color:#c2c5b0; background-color:#3a3a3a;}


#topline{padding:35px 25px;}
#topline ul{display:block; float:right; margin:0 12% 0 0; padding:0; list-style:none; overflow:hidden;}
#topline li{display:inline-block; margin:0 8px 0 0; padding:0 20px 10px 5px; border-right:1px solid #c2c5b0;}
#topline li.last{margin-right:10px; padding-right:10px; border:none;}
#logo{display:block; float:left; font-size: 25px; padding-bottom: 5px; margin:0 0 1% 12%; overflow:hidden;}
